vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|11 Jul 2019 18:03:50 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|styles/style1.css
vti_author:SR|TCM\\cthompson
vti_modifiedby:SR|LAPTOP-H851D623\\calth
vti_timecreated:TR|11 Jul 2019 18:03:48 -0000
vti_syncwith_localhost\\\\\\mra-sql1\\missionnet\\sandbox missionnet///mra-sql1/missionnet/sandbox missionnet:TR|11 Jul 2019 18:03:48 -0000
vti_cacheddtm:TX|11 Jul 2019 18:03:50 -0000
vti_filesize:IR|1085
vti_cachedlinkinfo:VX|S|https://fonts.gstatic.com/s/muli/v13/7Auwp_0qiz-afT3GLRrX.woff2 S|https://fonts.gstatic.com/s/muli/v13/7Auwp_0qiz-afTzGLRrX.woff2 S|https://fonts.gstatic.com/s/muli/v13/7Auwp_0qiz-afTLGLQ.woff2
vti_cachedsvcrellinks:VX|NSSS|https://fonts.gstatic.com/s/muli/v13/7Auwp_0qiz-afT3GLRrX.woff2 NSSS|https://fonts.gstatic.com/s/muli/v13/7Auwp_0qiz-afTzGLRrX.woff2 NSSS|https://fonts.gstatic.com/s/muli/v13/7Auwp_0qiz-afTLGLQ.woff2
